body {
  position: relative;
  overflow-x: hidden;
}
div.index-header {
  background-color: #ffffff;
  height: 2.5rem;
  padding: .26rem;
  border-bottom: 1px solid #d2d2d2;
  position: fixed;
  z-index: 9999;
}
div.index-header .index-location {
  height: .9rem;
  color: #fd4f00;
  font-size: .5rem;
  line-height: .9rem;
  text-align: center;
  font-weight: 700;
}
div.index-header .form-group {
  width: 9rem;
  height: .9rem;
  margin: 0 auto;
}
div.index-header .form-group .form-control {
  width: 100%;
  height: .9rem;
  font-size: .4rem;
  display: block;
  border-radius: .1rem;
  text-align: center;
  background-color: #eee;
}
div.index-header .hot-word {
  height: .6rem;
  line-height: .9rem;
  font-size: .3rem;
  width: 9.48rem;
  white-space: nowrap;
}
div.index-header .hot-word a {
  color: #666666;
  margin-right: 0.7rem;
  margin-left: .1rem;
}
.container {
  margin: .26rem .26rem 0 .26rem;
}
.list-group {
  margin-bottom: .25rem;
}
.list-group-item {
  display: block;
  background-color: #fff;
  padding: .2rem .2rem;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  border-radius: 0.1rem;
}
.list-left {
  padding-right: .2rem;
  float: left;
  width: 30%;
}
.list-img {
  width: 2.7rem;
  height: 2rem;
}
.list-body {
  float: left;
  width: 66%;
}
.list-body h4 {
  font-size: .35rem;
  line-height: .45rem;
  margin-bottom: .2rem;
}
.list-body p {
  font-size: .25rem;
  line-height: .35rem;
  margin-bottom: .18rem;
}
.line {
  height: 0;
  border: 0;
  border-top: 1px solid #dbdbdb;
  margin-bottom: .18rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 3.03rem;
}
.swiper-pagination-bullet {
  width: .2rem;
  height: .2rem;
}
.swiper-slide > img {
  width: 100%;
}
.swiper-pagination-bullet-active {
  background-color: #fd4f00;
}
.detail-nav {
  overflow: hidden;
}
.detail-nav a {
  display: inline-block;
}
.detail-nav a .icon {
  width: .4rem;
  height: .4rem;
  margin: .5rem .4rem;
}
.dish-content {
  padding: .5rem;
  background-color: #fff;
}
.dish-content .dish-price {
  color: #d25654;
  font-size: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
}
.dish-content .dish-name {
  font-size: .45rem;
  margin-bottom: .36rem;
  font-weight: 600;
}
.dish-content .dish-material {
  font-size: .3rem;
  line-height: .5rem;
  color: #666;
  margin-bottom: .36rem;
}
.dish-content .dish-intro {
  overflow: hidden;
}
.dish-content .dish-intro .dish-img-sm {
  width: 4rem;
  margin-top: .5rem;
}
.dish-content .dish-intro .dish-detail {
  font-size: .3rem;
  width: 50%;
  margin: .36rem auto .36rem;
  text-align: left;
}
.dish-content .dish-intro .dish-detail > p {
  font-size: .4rem;
  margin-bottom: .12rem;
}
.dish-content .dish-intro .dish-detail > span {
  color: #aaa;
}
.dish-content .dish-intro .dish-detail .details {
  line-height: .5rem;
  color: #777;
  margin-top: .4rem;
}
.btn-order {
  width: 9.7rem;
  height: .8rem;
  display: block;
  background-color: #0398ff;
  margin: .1rem auto;
  border-radius: .1rem;
  text-align: center;
  font-size: .46rem;
  padding-top: .2rem;
  color: #fff;
}
.nav {
  background-color: #0398ff;
  position: relative;
}
.nav span {
  position: absolute;
  font-size: .46rem;
  color: #fff;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 2.4rem;
  height: .5rem;
  margin-left: -1.2rem;
  margin-top: -0.25rem;
  text-align: center;
}
.order-form {
  background-color: #fff;
  margin-top: .3rem;
  padding-bottom: .36rem;
}
.order-form .form-margin {
  margin-bottom: .3rem;
}
.order-form .form-group {
  line-height: 1.5rem;
  font-size: .36rem;
  border-bottom: 1px solid #eee;
}
.order-form .form-group .form-control {
  font-size: .36rem;
  color: #666;
}
.order-form .form-group .form-radio {
  margin: 0 .2rem 0 .8rem;
  width: 32px;
  height: 32px;
  border: 1px solid #999;
  border-radius: 50%;
  vertical-align: middle;
}
.order-form .form-group .form-radio:focus {
  background-color: #0398ff;
}
.order-form .form-group img {
  padding-top: .3rem;
}
.order-form .btn-order {
  background-color: #00d762;
  margin-top: .5rem;
  width: 100%;
  padding-bottom: .2rem;
  height: auto;
}
.order-form .order-success h4 {
  font-size: .46rem;
  padding: .3rem 0;
  font-weight: 500;
}
.order-form .order-success p {
  font-size: .36rem;
  color: #999;
}
.order-form .order-success p a {
  color: #d25654;
}
.myorder {
  margin-top: .3rem;
}
.myorder .items {
  background-color: #fff;
}
.myorder .items .Container {
  padding: 0 .5rem;
}
.myorder .form-margin {
  margin-bottom: .3rem;
}
.myorder .form-group {
  line-height: 1.5rem;
  font-size: .36rem;
  border-bottom: 1px solid #eee;
}
.myorder .form-group img {
  vertical-align: middle;
  padding: .5rem 0;
}
.myorder .noorder {
  font-size: .32rem;
  text-align: center;
  margin-bottom: .3rem;
}
div.user_header {
  background-color: #0398ff;
}
div.user_header .myzone_content {
  padding: .55rem .6rem;
  overflow: hidden;
}
div.user_header .myzone_content img {
  width: 1.4rem;
  border-radius: 50%;
  float: left;
}
div.user_header .myzone_content .myzone_info {
  float: left;
  color: #fff;
  padding-left: .8rem;
}
div.user_header .myzone_content .myzone_info h2 {
  font-size: .6rem;
  margin-bottom: .1rem;
}
div.user_header .myzone_content .myzone_info p {
  font-size: .4rem;
}
.three_lan {
  background-color: #fff;
  width: 100%;
}
.three_lan .lan {
  width: 23%;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  color: #666;
}
.three_lan .lan h2 {
  font-size: .3rem;
  margin-bottom: .1rem;
}
.three_lan .lan h2 span {
  font-size: .6rem;
}
.three_lan .lan p {
  font-size: .3rem;
}
.three_lan .balance span {
  color: #ff9900;
}
.three_lan .discount span {
  color: #ff5f3e;
}
.three_lan .integral span {
  color: #6ac20b;
}
.some_bar {
  background-color: #fff;
  padding: .36rem .5rem;
  font-size: .36rem;
  border-bottom: 1px solid #eee;
}
.some_bar a {
  display: inline-block;
}
.some_bar a .icon {
  width: .4rem;
  height: .4rem;
  background-color: #333;
  transform: rotate(180deg);
}
.first_bar {
  margin-top: .36rem;
}
.fixed-nav {
  width: 10rem;
  height: 1.2rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: .28rem;
  z-index: 999;
  border-top: 1px solid #c1b18d;
}
.fixed-nav .active {
  color: #a7906a;
}
.fixed-nav .one-fixed-nav {
  width: 32.6%;
  display: inline-block;
  height: 1.2rem;
  text-align: center;
  padding-top: .2rem;
}
.fixed-nav .one-fixed-nav .index {
  width: .45rem;
  height: .45rem;
  margin-bottom: .1rem;
}
.fixed-nav .one-fixed-nav p {
  font-size: .25rem;
}
.fixed-nav .btn-order {
  background-color: #0398ff;
}
