<nav class="fixed-nav">
    <a class="active" href="#!/main">
        <span class="one-fixed-nav">
            <svg class="index">
                <use id="index" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#index.18edf5a"></use>
            </svg>
            <p>首页</p>
        </span>
    </a>
    <a id="order" ng-click="ifLogin_order()" href="">
        <span class="one-fixed-nav">
            <svg class="index">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#order-regular.41c17f8"></use>
            </svg>
        <p>订单</p>
        </span>
    </a>
    <a id="user" ng-click="ifLogin_user()" href="">
        <span class="one-fixed-nav">
            <svg class="index">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profile-regular.c151d62"></use>
            </svg>
            <p>我的</p>
        </span>
    </a>
</nav>